{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{cat.category_listings.all.count}} listing(s) from {{cat.name}} {{ cat.id }}</h2>

    {% for l in listing %}
        {% if l.category == cat %}
        <a href="{% url 'listing' item=l.id %}" class="listing-box">
            <div style="width: 50%; display: flex; align-items: center; justify-content: center;">
                <img src="{{ l.image }}" class="listing-image">
            </div>
            <div class="listing-text">
                <div class="listing-title"><b>{{ l.title }}</b></div>                    
                <div class="listing-price"><b>Price: </b>${{ l.bid }}</div>
                <div class="listing-description">{{ l.description }}</div>
            </div>
        </a>
        {% endif %}
    {% endfor %}
{% endblock %}